<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_AuthHead")
</head>

<body>
    @await Html.PartialAsync("_AuthLogo")

    @RenderBody()

    @await Html.PartialAsync("_AuthFooter")

    @await Html.PartialAsync("_AuthJs")

    @await RenderSectionAsync("Scripts", required: false)

    @await Html.PartialAsync("_AuthScripts")

</body>

</html>
