<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Auth/_AuthHead")
</head>

<body>
    @await Html.PartialAsync("Auth/_AuthLogo")

    @RenderBody()

    @await Html.PartialAsync("Auth/_AuthFooter")

    @await Html.PartialAsync("Auth/_AuthJs")

    @await RenderSectionAsync("Scripts", required: false)

    @await Html.PartialAsync("Auth/_AuthScripts")

</body>

</html>
