
<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_TitleMeta")
    @await Html.PartialAsync("_HeadJs")
    @await Html.PartialAsync("_HeadCss")
    @RenderSection("ExternalDependencies", required: false)
</head>

<body>

    @await Html.PartialAsync("_Header")

    @await Html.PartialAsync("_NavBar")

    @RenderBody()

    @await Html.PartialAsync("_Footer")

    @await Html.PartialAsync("_CustomBodyJs")

    @await RenderSectionAsync("Scripts", required: false)
    
    @await Html.PartialAsync("_LayoutSectionScripts")


</body>
</html>
