
<div class="col-md-3 col-12 bg-white">
    <ul class="nav flex-column settings-menu py-2 ">
        <li class="nav-item">
            <a class="nav-link active" href="/Profile">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ChangePassword">Change Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/EmailSignature">Email Signature</a>
        </li>
    </ul>
</div>