.btn-no-bg {
    background-color: transparent;
    border: none;
    color: white !important;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
}

    .btn-no-bg:hover,
    .btn-no-bg:focus {
        background-color: rgba(255, 255, 255, 0.1) !important;
        font-size: 1.05em;
        transition: font-size 0.3s ease-in-out !important;
        color: white !important;
        border: none !important;
        outline: none!important;
    }

    .btn-no-bg:active {
        background-color: rgba(255, 255, 255, 0.3) !important;
        transition: background-color 0.05s ease-in-out;
        color: white !important;
        border: none !important;
    }

/*dropdown custom */

.dropdown-item {
    color: inherit;
    transition: background-color 0.2s ease-in-out;
    background-color: var(--bg--color);
}

.dropdown-item:hover, 
.dropdown-item:focus, 
.dropdown-item:active {
    background-color: rgba(128, 128, 128, 0.2) !important;
    font-size: 1.05em;
    transition: font-size 0.3s ease-in-out;
    color: inherit;
}

btn-no-bg-black{
    background-color: transparent;
    border: none;
    color: black;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px; 

}
.btn-no-bg-black:hover, 
.btn-no-bg-black:focus {
    background-color: rgba(192, 165, 165, 0.1); 
    font-size: 1.05em;
    transition: font-size 0.3s ease-in-out;
    color: black;

}

.btn-no-bg-black:active {

    transition: background-color 0.05s ease-in-out; 
    color: black;
    

}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    
}

.nav-item.dropdown:hover .nav-link {
    background-color: #d6d6d6;
    border-radius: 5px;
    font-size: 1.05em;
    transition: font-size 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    
}

.btn-primary {
    width:10em !important;
    background-color: #244065 !important;
    border-color: #244065 !important;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background-color: #3278b2 !important;
        border-color: none !important;
    }

.btn-success {
    width: 10em !important;
    background-color: #32b286 !important;
    border-color: #32b286 !important;
}

    .btn-success:hover, .btn-success:focus, .btn-success:active {
        background-color: #6bd1ad !important;
        border-color: none;
    }

.btn-icon img {
    width: 16px;
}

@media (max-width: 768px) {
    .row {
        margin: 0 !important;
        padding: 0 !important;
    }

    .col-6 {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}
    
    

