:root{
    --header--color:#244065;
    --bg--color: whitesmoke;
}
body{

    background-color: var(--bg--color);
}


.link{
    text-decoration: none;
}



footer {
    background-color: white;
    
  
}
    footer * {
        
        box-shadow: none !important;
        background-image: none !important;
    }


