:root {
    --header--color: #244065;
    --bg--color: whitesmoke;
}

body, html {
    background-color: var(--bg--color);
    height: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column; 
    color:var(--header--color) !important;
}


.container {
    flex: 1;
    
    
}

footer {
    background-color: white;
    margin-top: auto; 
    padding: 20px; 
}

    footer * {
        box-shadow: none !important;
        background-image: none !important;
    }

.link {
    text-decoration: none;
}


a, li, ul {
    font-weight: 600 !important;
    border: none !important;
    color: var(--header--color) !important;
}