
@{
    Layout = "_AuthLayout";
}
<div class="auth-container">
    <a href="/Auth/Login"><img src="@Url.Content("~/img/logo/logo_email-blue.png")" alt="logo-blue" class="auth-image" /></a>
</div>



<div class="container">
    <div class="row">

        <div class="col-md-12 my-4">
            <h2>Reset password</h2>


            <form>

                <div class="form-group my-5">
                    <p class="text-center my-1">Please enter email address used for your registration</p>
                    
                    <input type="email" name="email" class="form-control" />
                </div>


                <div class="form-group my-4">
                    <input type="submit" name="submit" class="btn btn-primary w-100" value="Send Request">
                </div>

                

            </form>
        </div>
    </div>
</div>