@using DevExpress.AspNetCore
@{
    ViewData["Title"] = "Email";
    Layout = "_Layout";

}
<div class="container py-0 md-py-0">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 p-0 ms-3 mb-3" style="background:none;border:0px;">
            <h1 style="font-weight:600;">Template List</h1>
        </div>
        <div class="col-12 col-md-10 ms-3 p-4 ms-3 mb-3 me-3" style="background:white !important;">

            <button class="dx-button dx-widget dx-button-mode-contained dx-button-default d-flex justify-content-between" id="createButton">
                <span class="dx-button-content me-2">
                    <i class="dx-icon dx-icon-edit me-1" style="font-size: 20px;"></i>
                    @MessagingProject.Resources.Resource.Create
                </span>
            </button>
        </div>

        <div class="col-12 col-md-3 bg-white my-2 me-3 p-1 ms-3 mb-3 card-hover">
            
            <div class="p-2">
                <!-- Text -->
                <h5>Карточка</h5>
                <p>Это пример вставки шаблона внутрь блока.</p>

                <form>
                    <div class="d-flex justify-content-between align-items-center gap-2">
                        <!--Button to send -->
                        <button type="submit" class="dx-button dx-widget dx-button-mode-contained dx-button-default w-75" id="createButton" style="height:40.5px !important;">
                            <span class="dx-button-content d-flex justify-content-center align-items-center" style="font-size:16px;">
                                <img src="~/img/icons/mail-white.png" class="me-2" width="22" />
                                @MessagingProject.Resources.Resource.Send
                            </span>
                        </button>

                        <!--Dropdown menu button -->
                        <div class="dx-button dx-widget dx-button-mode-contained dx-button-default w-25" style="height:40.5px !important;">
                            <a class="btn dropdown-toggle d-flex align-items-center justify-content-center w-100 h-100"
                               href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                               style="color:white !important; font-size:20px; padding: 0; margin-right:8px;">
                                <i class="fas fa-ellipsis-v" style="color:white !important;"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a style="background-color: white" class="dropdown-item d-flex align-items-center justify-content-start" href="/Profile">Редактировать</a></li>
                                <li><a style="background-color: white" class="dropdown-item d-flex align-items-center justify-content-start" href="/ScreenLock">Создать дубликат</a></li>
                                <li><a style="background-color: white" class="dropdown-item d-flex align-items-center justify-content-start" href="/Logout">Удалить</a></li>
                            </ul>
                        </div>
                    </div>
                </form>

            </div>
        </div>
      


    </div>

    
</div>
