@{
   Layout = "_Layout";
   
}

<div class="container-fluid my-5 d-flex flex-column " >
    <div class="row justify-content-center">
        <div class="col-5 p-4 bg-white rounded shadow-sm mx-5" >
            <h2>SMS</h2>
            <span style="font-size:25px;">This month</span>
            <br /><br /><br /><br /><br /><br /><br />
        </div>

        <div class="col-5 p-4 bg-white rounded shadow-sm mx-5">
            <h2>Emails</h2>
            <span style="font-size:25px;">This month</span>
            <br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-5 p-4 bg-white rounded shadow-sm mx-5">
            <span style="font-size:25px;">This week</span>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>

        <div class="col-5 p-4 bg-white rounded shadow-sm mx-5" >
            <span style="font-size:25px;">This week</span>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>

