@font-face {
    font-family: 'IBM-Light';
    src: url("../fonts/IBM-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'IBM-Bold';
    src: url("../fonts/IBM-Bold.ttf") format('truetype');

    
}
