@using MessagingProject.Models.Contacts
@model ContactsList
@{
    Layout = "_Layout";
    ViewData["Title"] = "Contacts";

}


<div class="container py-0 md-py-0">
    <div class="row justify-content-center">
        <div class="col-6 col-md-10 p-0 ms-3 d-flex" style="background:none;border:0px;">
            <h1 style="font-weight:600;">@Model.Name</h1>
            <button class="btn btn-transparent p-0" style="border: none; background: transparent; transition: all 0.3s ease;" onclick="openEditModal()">
                <img src="~/img/icons/edit-pencil.png" class="ms-2" width="30" />
                </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 py-4 bg-white rounded shadow-sm">
                @await Html.PartialAsync("Contacts/_SingleContactDataGrid")
            </div>
        </div>
    </div>
</div>

@*Create Modal*@

@await Html.PartialAsync("Contacts/_SingleContactCreateModal")

@*Update Name Modal*@

@await Html.PartialAsync("Contacts/_SingleContactUpdateModal")

@*Update ModalSingleList*@

@await Html.PartialAsync("Contacts/_SingleContactUpdateList")

@*Delete Modal*@

@await Html.PartialAsync("Contacts/_SingleContactDeleteModal")

<script>

</script>