@using MessagingProject.Models.Contacts
@model string
@{
    Layout = "_Layout";
    ViewData["Title"] = "Contacts";

}


<div class="container-fluid py-0 md-py-0">
    <div class="row justify-content-center">
        <div class="col-6 col-md-10 p-0 ms-3 d-flex" style="background:none;border:0px;">
            <h1 style="font-weight:600;">@Model</h1>
            <button class="btn btn-transparent p-0" style="border: none; background: transparent; transition: all 0.3s ease;" onclick="openModal()">
                <img src="~/img/icons/edit-pencil.png" class="ms-2" width="30" />
                </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 py-4 bg-white rounded shadow-sm">
                @await Html.PartialAsync("_SingleContactDataGrid")
            </div>
        </div>
    </div>
</div>

@*Create Modal*@

@*Update Modal*@
<div id="editModal" class="modal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">
    <div class="modal-content" style="background:#fff; padding:20px; width:90%; max-width:50em; margin:15% auto; border-radius:8px; position:relative;">
        <span onclick="closeModal()" style="cursor:pointer; position:absolute; top:0px; right:10px; font-size:35px;">&times;</span>
        <input type="text" id="listName" class="form-control" placeholder="Новое название" style="margin-top:3em; margin-bottom:1em;" />
       
        <div class="d-flex justify-content-end py-4 ms-2">
            <button class="btn btn-primary d-flex me-2 align-items-center " onclick="closeModal()">
                <img src="~/img/icons/close.svg" alt="close Icon" width="17" class="me-1">Закрыть
            </button>
            <button class="btn btn-success d-flex align-items-center" onclick="">
                <img src="~/img/icons/save.svg" alt="save Icon" width="22" class="me-2">Сохранить
            </button>
        </div>
    </div>
</div>
@*Update ModalSingleList*@

@*Delete Modal*@

<script>
     var collapsed = false;
    function contentReady(e) {
        if(!collapsed) {
            collapsed = true;
            e.component.expandRow(["EnviroCare"]);
        }
    }

    function customizeTooltip(pointsInfo) {
        return { text: parseInt(pointsInfo.originalValue) + "%" };
    }

    function openModal() {
        document.getElementById("editModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("editModal").style.display = "none";
    }

    window.onclick = function(event) {
        var modal = document.getElementById("editModal");
        if (event.target === modal) {
            closeModal();
        }
    };

 </script>