
@{
    Layout = "_AuthLayout";
}


<div class="container">
    <div class="row">

        <div class="col-md-12 my-4">
            <h2>@MessagingProject.Resources.Resource.Resetpassword</h2>


            <form asp-action="ResetPassword" asp-controller="Auth" method="post">
                <div class="form-group my-3">
                    <p class="text-center my-1">@MessagingProject.Resources.Resource.EmailRequset</p>
                    
                    <input type="email" name="email" class="form-control"/>
                </div>


                <div class="form-group my-3">
                    <input type="submit" name="submit" class="btn btn-primary w-100"style="color:white!important;" value="@MessagingProject.Resources.Resource.SendRequest">
                </div>

            </form>
        </div>
    </div>
</div>